.hero{
    background-image: url(https://img.freepik.com/fotos-gratis/parede-de-tijolo-preto-texturizado-fundo_53876-63572.jpg?size=626&ext=jpg&ga=GA1.2.2146368901.1629676800);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;    
    }